.authNavList {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
}

@media screen and (min-width: 767px) {
  .authNavList {
    flex-direction: row;
    gap: 15px;
    font-size: 18px;
  }
}

.authNavLink {
  padding: 5px 5px;
}

@media screen and (min-width: 767px) {
  .authNavLink {
    padding: 20px 5px;
  }
}

.active {
  color: var(--dark-grey);
}
